.home-content{
  font-family: $my-font-en;
  position: relative;
  height:100%;
  display: flex;
  justify-content:center;
  align-items:center;
  border-top: 40px;
  box-sizing: border-box;
  z-index:1;
  .home-content-box{
    width:140px;
    height: 140px;
    text-align: center;
    position: relative;
  }
  .home-content-time{
    $time-height:50px;
    font-size: 1.6rem;
    font-weight: bold;
    position: absolute;
    height: $time-height;
    line-height: $time-height;
    top: -$time-height;
    width: 100%;
  }
  .home-content-text{
    height: 100%;
  }
  .home-content-title,.home-content-subtitle{
    height: 50%;
    display: flex;
    justify-content: center;
  }

  .home-content-title{
    font-size: 1.6rem;
    font-weight: bold;
    align-items: flex-end;
  }
  .home-content-subtitle{
    font-size: 1rem;
    align-items: baseline;
  }
}

.main-content-bg-box1{
  position: absolute;
  height: 40%;
  width:50%;
  left: 25%;
  top: 30%;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2) inset;
  background-color: nth($theme,2);
}

.main-content-bg-box2{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  margin-left: -70px;
  width: 140px;
  height:140px;
  border-radius: 50%;
  background-color: nth($theme,3);
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2) inset;
}

@media screen and (min-width: 768px){
  .home-content {
    font-size: 4rem;
    .home-content-box{
      width:240px;
      height: 240px;
    }
    .home-content-time{
      font-size: 2.4rem;
    }
    .home-content-title{
      font-size: 2.4rem;
    }
    .home-content-subtitle{
      font-size: 1.2rem;
    }
  }
  .main-content-bg-box2{
    margin-top: -120px;
    margin-left: -120px;
    width: 240px;
    height:240px;
  }
}