.home-header{
  background-color: nth($theme,2);
  height: 40px;
  text-align: center;
  z-index: -2;
  .home-header-links{
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 320px;
    &>span{
      font-family: $my-font-en;
      font-weight: bold;
      font-size: 1.4rem;
      display: inline-block;
      line-height: 40px;
      width: 25%;
      float: left;
      z-index: 1;
      @include btn()
    }
    .btn-active{
      @include btn-active()
    }
  }
  .home-header-menu{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
    img{
      height: 100%;
      width: 100%;
    }
  }
}
@media screen and (min-width: 768px){
  .home-header{
    .home-header-menu{
      display: none;
    }
    .home-header-links{
      width: 320px;
    }
  }
}