.main{
  height: 100%;
  color: $font-color-main;
}
.main-center{
  height: calc(100% - 40px);
  background-color: nth($theme,1);
  padding-top: 40px;
}
.main-content{
  min-height: calc(100vh - 40px);
  width: 100%;
  box-sizing: border-box;
  position: relative;
  text-align: center;
}


@media screen and (min-width: 769px){
  .main-content{
    padding: 0 64px 0 64px;
  }
}