.home-sider{
  display: none;
  height: 100%;
  width: 64px;
  position: absolute;
  right: 0;
  bottom: 0;
  .home-sider-box{
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }
  .home-sider-item{
    float: left;
    width: 100%;
    margin: 10px 0;
    &:hover{
      cursor: pointer;
      text-shadow:6px 4px 2px rgba(0,0,0,0.2);
      .home-sider-img{
        box-shadow: 0 0 4px 1px rgba(0,0,0,0.2) inset;
      }
    }
    .home-sider-img{
      width: 42px;
      height:42px;
      //background-color: nth($sider-btn,1);
      border-radius: 50%;
      margin: 5px 11px;
      color: $font-color-main;
    }
    @for $i from 1 through length($sider-btn){
      .home-sider-img-#{$i} {
        background-color:nth($sider-btn,$i);
      }
    }
    img{
      float: left;
      border-radius: 50%;
      margin: 6px;
      width: 30px;
      height: 30px;
    }
    p{
      text-align: center;
    }
  }
}
@media screen and (min-width: 768px){
  .home-sider{
    display: block;
  }
}