body, figure, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:erikos,couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none;color: inherit; }
a:hover { text-decoration:none; color: inherit; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
a,button{
  cursor: pointer;
  border: none;
}
span,a,button,li{
  -moz-user-focus: none;
}
*:focus {
  outline: none
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll; //这是为了兼容ie8，不支持:root, vw
  &::-webkit-scrollbar { /*滚动条整体样式*/
    width: 6px;
    background-color:rgba(0,0,0,0) !important;
    border-radius: 6px;
    opacity: 0;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    transition: all .2s;
    background-color: #bdbdbd;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color:rgba(0,0,0,0);
    cursor: pointer!important;
  }
}
:root {
  overflow-y: auto;
  overflow-x: hidden;
}
:root body {
  position: absolute;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  font-family:$my-font;
  font-color:$font-color-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'song';
  src: url('./思源宋体SC-Regular.otf');
  font-weight: normal;
  font-style: normal;
  //font-size:67.5%;
}
@font-face {
  font-family: 'font-En';
  src: url('./BarlowCondensed-Thin.ttf');
  font-weight: normal;
  font-style: normal;
  //font-size:67.5%;
}
